.btn {
  display: flex;
  outline: none;
  opacity: 0.9;
  cursor: pointer;
  border-radius: 20px;
  padding: 20px 150px;
}
.btn:hover {
  opacity: 1.0;
}

#playBtn {
  background: url("./images/play2.png") no-repeat;
  background-size: 13px 18px;
  flex: 1;
  margin-left: 15px;
  margin-right: 15px;
}
#pauseBtn {
  background: url("./images/pause2.png") no-repeat;
  background-size: 12px 19px;
  flex: 1;
  margin-left: 15px;
  margin-right: 15px;
}

#prevBtn {
  background: url("./images/prev.png") no-repeat;
  background-size: 12px 19px;
  flex: 1;
  margin-left: 15px;
  margin-right: 15px;
}

#nextBtn {
  background: url("./images/next.png") no-repeat;
  background-size: 12px 19px;
  flex: 1;
  margin-left: 15px;
  margin-right: 15px;
}
